@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Futura PT", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
	font-size: 6.6rem;
	text-align: center;
	color: #5abf8d;
	margin: 0;
}



@media only screen and (min-width: 25em) {
	.DELETE {
		DELETE
	}
}

@media only screen and (min-width: 38em) {
	.DELETE {
		DELETE
	}
}

@media only screen and (min-width: 60em) {
	.DELETE {
		DELETE
	}
}

@media only screen and (min-width: 80em) {
	.DELETE {
		DELETE
	}
}

Addition
moe
